* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(26, 26, 26);
    color: white;
    margin: 0;
}

hr {
    width: 2rem;
    margin-top: .5rem;
    border: 2px solid white;
    border-radius: 1rem;
}

h1 {
    margin-top: 5rem;
    font-size: 3rem;
}

.hero-content {
    height: 60vh;
    background-image: url("slika.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(0, 0, 0, 0.8);
}

header #site-title {
    font-weight: bold;
    color: rgb(203, 255, 0);
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    float: left;
    margin: 1rem;
    font-size: small;
    cursor: pointer;
}

.hero-content {
    text-align: center;
}

#start {
    display: inline-block;
    justify-content: center;
    background-color: rgb(203, 255, 0);
    padding: 0.75rem 2rem;
    border-radius: 20px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
}

#services h2,
caption h2,
.third h2 {
    color: rgb(203, 255, 0);
    margin: 1rem 0 0;
}

.third {
    color: rgb(203, 255, 0);
    text-align: center;
}

#services p {
    margin: 0 0 1rem;
}

.black-box-container {
    display: flex;
    column-gap: 1rem;
    margin: 1rem 0;
    justify-content: center;
}

.black-box {
    flex-basis: 22%;
    background-color: rgb(38, 38, 38);
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 10px;
}

.black-box p {
    line-height: 1.5rem;
}

#prices {
    padding: 4rem 3rem;
    background-color: rgb(34, 34, 34);
}

caption p {
    padding-top: 30px;
}

table {
    background-color: rgb(42, 42, 42);
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 20px black;
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
}

th {
    background-color: rgb(203, 255, 0);
    color: rgb(16, 14, 27);
}

tr {
    border: 1px solid rgb(59, 59, 59);
}

th,
td {
    padding: 1.5rem 1rem;
}

#video {
    padding: 60px;
    display: flex;
}

iframe {
    width: 800px;
    height: 315px;
    margin: auto;
    border: 0;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 30px;
}

.left,
.inquiry {
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
}

.inquiry form,
.text-container {
    max-width: 70%;
    margin: 0 auto;
}

.contact-group {
    margin-bottom: 20px;
    line-height: 1.6;
}

.contact-title {
    margin-bottom: 20px;
    font-weight: bold;
}

#email {
    color: rgb(203, 255, 0);
    text-decoration: none;
}

input,
select,
textarea {
    box-sizing: border-box;
    color: white;
    line-height: 1.6;
}

input[type="text"],
select,
textarea {
    border-radius: 6px;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(72, 72, 72);
    padding: 10px;
    width: 100%;
    margin-top: .6rem;
}

label {
    font-size: small;
    color: rgb(172, 172, 172);
}

#end {
    display: inline-block;
    justify-content: center;
    background-color: rgb(203, 255, 0);
    padding: 12px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.container {
    border-bottom: 2px solid rgb(203, 255, 0);
}

.footer {
    color: rgb(138, 138, 138);
    text-align: center;
    padding: 2rem;
    background-color: rgb(0, 0, 0);
}

#small {
    font-size: 12px;
}

#smaller {
    font-size: 10px;
}