form {
    background: rgb(32, 41, 51);
    color: #FFF;
    max-width: 30%;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid rgb(64, 66, 67);
}

.row {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.label-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(4, 170, 144);
    font-weight: bold;
}

.label-input label {
    margin-bottom: 0.5rem;
}

.label-input-full {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(4, 170, 144);
    font-weight: bold;
}

.label-input-full label{
     margin-bottom: 0.5rem
}


.label-input-full input {
    width: 100%;
}

.row button {
    width: 100%;
    background-color: rgb(4, 170, 144);
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}

.label-input [type="text"], .label-input [type="email"]{
    background-color: rgb(21, 26, 32);
    border: 1px solid rgb(64, 66, 67);
    padding: 10px;
    border-radius: 8px;
}

.label-input [type="datetime-local"], .label-input > select{
    background-color: rgb(21, 26, 32);
    color: white;
    padding: 10px;
    border: 1px solid rgb(64, 66, 67);
    border-radius: 8px;
}

.label-input-full [type="range"]{
    background-color: rgb(4, 170, 144);
}

.label-input-full textarea{
    background-color: rgb(21, 26, 32);
    border: 1px solid rgb(64, 66, 67);
    border-radius: 8px;
    padding: 10px;
}