body {
    background-color: #e8dcc9;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}


.card {
    background-color: antiquewhite;
    padding: 2rem;
    margin: 0 2rem;
    display: flex;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 400px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.select-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

select {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 14px;
}

.field-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 14px;
}


button {
    background-color: rgb(155, 105, 202);
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

button:hover {
    background-color: rgb(130, 80, 180);
    transform: scale(1.02);
}

#errorA, #errorB {
    color: red;
}