.navbar {
    background: #354a5e;
    margin: 0 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: 0;
    padding: 0;
}

.nav-list li {
    padding: 1rem;
}

.nav-list li:hover{
     background: #1ccfae;
    border: 1px solid #1ccfae;
}


.nav-list li a {
    text-decoration: none;
    color: #fff;
}

.nav-list .active {
    background: #1abc9d;
    border: 1px solid #1abc9d;
}
