.main-container {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

#main-text {
    grid-area: 1 / 1 / 2 / 4;
    color: #FFF;
    text-align: center;
    margin: 2rem auto;
}

#main-text h2 {
    margin: .5rem auto;
}

#main-text p {
    margin: .5rem auto;
    padding: 0 1rem;
    line-height: 1.5rem;
}

.index-img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    border-radius: .4rem;
}


#img-1 {
    grid-area: 2 / 1 / 3 / 2;
}

#img-2 {
    grid-area: 2 / 2 / 3 / 3;
}

#img-3 {
    grid-area: 2 / 3 / 3 / 4;
}

#img-1, #img-2, #img-3 {
    background: #FFF;
    padding: .6rem;
    padding-block-end: 2.5rem;
    border-radius: .4rem;
}

footer {
    position: fixed;
    transform: translateX(-50%);
}