.photo-container{
    background-color: rgb(31, 39, 48);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 55%;
    margin: 2rem auto;
    margin-bottom: 4rem;
    padding: 1rem;
    box-shadow: ;
}

.photo-container p{
    color: rgb(148, 154, 160);
    text-align: center;
}

.photo-container img{
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(42, 188, 156);
}

.pre-next{
    gap: 2rem;
    display: flex;
    
}

.pre-next button{
    background-color: rgb(42, 188, 156);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

h3{
    color: rgb(42, 188, 156);
}