*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.moon{
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    position: relative;
}

.moon::before{
    content: '';
    background-color: #ffff;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: ani 3.2s linear infinite alternate;
}

@keyframes ani{
    0%{
        transform: translateX(40px) scale(0.9);
        box-shadow: none;
    }

    50%{
        transform: translate(0px, 0px) scale(1);
        box-shadow: 0px 0px 10px #0ef,
                    0px 0px 80px 2px #0ef;
    }

    100%{
        transform: translateX(-40px) scale(0.9);
        box-shadow: none;
    }
}