* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(135deg, #e0e7ff 0%, #f3f4f6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    text-align: center;
}

.main-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.badge {
    background: #ff4d6d;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    color: #111;
    margin-bottom: 25px;
}

.main-card h1{
    margin: auto;
}

.image-container {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-row {
    display: flex;
    gap: 20px;
}

.side-card {
    flex: 1;
    text-align: left;
}

h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

ul, ol {
    list-style-position: inside;
    line-height: 1.6;
}

ul li {
    list-style: outside;
    margin-bottom: 10px;
}

ul li span {
    color: #ff4d6d;
    font-weight: 700;
}

ol li {
    margin-bottom: 12px;
}

.footer-card {
    padding: 20px;
}

.footer-card p {
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
}

.stars {
    font-size: 40px;
    color: #ffb703;
}

.stars .gray {
    color: rgb(204, 204, 204);
}

@media (max-width: 768px) {
    .info-row {
        flex-direction: column;
    }
    
}