main {
    text-align: center;
    margin: 4rem;
}

main h2 {
    color: #FFF;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 2rem;
    margin: 0 auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 2rem);
    background: #1d242c;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #292f36;
}

.card-image {
    position: relative;
    height: 180px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-tag {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #00bf9f;
    color: #000;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 999px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2rem 1rem 1.5rem 1rem;
    flex: 1;
}

.card-title {
    margin: 0 0 8px;
    color: #00bf9f;
    font-size: 18px;
}

.card-desc {
    font-size: .95rem;
    line-height: 1.5;
    color: #bfc6ce;
}

.card-body hr {
    border: none;
    border-top: 1px solid #2d3742;
    margin: auto 0 12px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.card-keywords {
    color: #00bf9f;
    font-family: monospace;
}

.card-link {
    color: #FFF;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #00bf9f;
    text-underline-offset: .5rem;
    text-decoration-thickness: 2px;
}
